name: Digi-Adda Deployment

on:
  push:
    branches:
      - master  

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          # We use -rltvz instead of -avz to avoid permission sync errors
          # --no-perms --no-owner --no-group stops rsync from trying to be 'root'
          ARGS: "-rltvz --no-perms --no-owner --no-group --delete"
          SOURCE: "./"
          REMOTE_HOST: ${{ secrets.VM_IP }}
          REMOTE_USER: ${{ secrets.VM_USERNAME }}
          TARGET: "/var/www/html"
          EXCLUDE: "/.git/, /.github/, /node_modules/"

      - name: Reload Nginx
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo nginx -t && sudo systemctl reload nginx
