name: Production Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Sync Files to Azure VM
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          # -r: recursive
          # -v: verbose
          # -z: compress
          # --no-perms/owner/group: ignores metadata conflicts that cause 'Permission Denied'
          ARGS: "-rvz --no-perms --no-owner --no-group --delete"
          SOURCE: "./"
          REMOTE_HOST: ${{ secrets.VM_IP }}
          REMOTE_USER: ${{ secrets.VM_USERNAME }}
          TARGET: "/var/www/html" # Using the custom folder we created
          EXCLUDE: "/.git/, /.github/, /node_modules/"

      - name: Restart Nginx
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo nginx -t && sudo systemctl reload nginx
