name: Digi-Adda Deployment

on:
  push:
    branches:
      - master  

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Sync Files to Azure VM
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rlgoDzvc -i --delete" 
          SOURCE: "E-commerce/"              
          REMOTE_HOST: ${{ secrets.VM_IP }}
          REMOTE_USER: ${{ secrets.VM_USERNAME }}
          TARGET: "/var/www/html/E-commerce"       
          EXCLUDE: "/.git/, /.github/"  

      - name: Reload Nginx
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo nginx -t && sudo systemctl reload nginx
